.Menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .logo{
        img{
            width: 180px;
        }
    }
    .Links{
        list-style-type: none;
        display: flex;
        a{
            text-decoration: none;
    color: black;
        }
        .Link{
            margin: 30px;
            font-weight: bold;
        }
        
    }.publish{
                margin: 30px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #1de9b6;
            color: white;
            text-align: center;
            width: 170px;
            height: 50px;
            border-radius: 10px;
            cursor: pointer;
            font-size: 1.3rem;

        }
}