.FiltersContainer{
    background: #fff;
  border-radius: 2px;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  margin: 1rem auto;
  position: relative;
  width: 60%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding: 20px;
  overflow: auto;

}