.Products{
    width: 80%;
    margin: auto;
    .productsContainer{
        width: 80%;
        margin: auto;
        height: 900px;
        overflow: scroll;
        overflow-x: hidden;
    }
      a{
               text-decoration: none;
           }
    .add{
        display: block;
        border-radius: 20px;
        border: none;
        padding: 1rem 2rem;
        color: #fff;
        font-size: 1.45em;
        font-weight: bold;
        cursor: pointer;
        margin: 2rem auto;  
        transition: background 0.5s; background: #1de9b6;
        border: 1px solid darken(#1de9b6, 5%);
        box-shadow: 3px 3px 0px 2px rgba(#1de9b6, 0.20);
        &:hover {
            background: lighten(#1de9b6, 15%);
        }
    }
}